@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<!-- saved from url=(0042)http://ask.amazeui.org/?/account/register/ -->
<html class="js cssanimations">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <title>开始报名-ITELETE</title>
    <meta name="keywords" content="HTML, HTML5, CSS, CSS3, JS, JavaScript, framework, Amaze UI, front-end, frontend, web development, 前端框架, 开源, meizi, meizi UI, 妹子UI, Web Components">
    <meta name="description" content="WebBookmark Register">
    <!--<base href="http://ask.amazeui.org/?/">-->
    <base href="."><!--[if IE]></base><![endif]-->
    <link href="http://ask.amazeui.org/static/css/new/img/favicon.png?v=20150409" rel="shortcut icon" type="image/png">
    <link href="~/assets/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/assets/commom/common.css" rel="stylesheet" />
    <link href="~/assets/commom/icon.css" rel="stylesheet" />
    <link href="~/assets/commom/link.css" rel="stylesheet" />
    <link href="~/assets/commom/new.css" rel="stylesheet" />
    <link href="~/assets/commom/style.css" rel="stylesheet" />
    <link href="~/assets/commom/register.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/jQueryFileUpload/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQueryFileUpload/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQueryFileUpload/jquery.fileupload.js"></script>
   
    <link href="~/assets/css/amazeui.datetimepicker.css" rel="stylesheet" />
    <script src="~/assets/js/amazeui.datetimepicker.min.js"></script>
    <script type="text/javascript">
        var userImgUploadUrl = "@Url.Action("SaveUserImag")";
        var userImgPath = "";
    </script>

    <script src="~/DomainJS/home.js"></script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
</head>
<body>
    <noscript unselectable="on" id="noscript">
        &lt;div class="aw-404 aw-404-wrap container"&gt;
        &lt;img src="http://ask.amazeui.org/static/common/no-js.jpg"&gt;
        &lt;p&gt;你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!&lt;/p&gt;
        &lt;/div&gt;
    </noscript>
    <div class="aw-register-box">
        <div class="mod-head">
            <h1>IT培优招新报名表</h1>
            <p>从这里开始你的精彩大学...</p>
        </div>
        <div class="mod-body">
            <div class="aw-register-form" id="register_form">
                <ul>
                    <li class="am-alert am-alert-danger hide error_message am-text-left">
                        <i class="icon icon-delete"></i> <em></em>
                    </li>
                    <li>
                        <input id="StudentName" class="aw-register-name am-form-field am-radius" type="text" name="user_name" placeholder="姓名" tips="请输入一个 2-14 位的姓名" errortips="姓名长度不符合" value="">
                    </li>

                    <li>
                        <input id="StudentNumber" class="am-form-field am-radius" type="text" placeholder="学号" tips="输入你的学号" value="">
                    </li>
                    <li>
                        <input id="UserPhone" class="am-form-field am-radius" type="text" placeholder="手机号码" tips="输入你的手机号码" value="">
                    </li>

                    <li>
                        <input id="UserQQ" class="am-form-field am-radius" type="text" placeholder="QQ" tips="输入你的QQ号码" value="">
                    </li>

                    <li >
                       
                        <input type="text" value="" id="datetimepicker" class="am-form-field" placeholder="生日">
                    </li>
                    <li>
                        <div class="am-u-md-12">
                            <div class="am-form-group am-form-file">
                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                </button>
                                <input id="uploadFile" type="file" accept=".JPG,.PNG,.JPEG" multiple>
                            </div>
                        </div>
                    </li>
                    <li>
                            <label>
                                <input type="radio" name="groupType" value="1" checked>
                                编程组
                            </label>
                            <label>
                                <input type="radio" name="groupType" value="2">
                                美工组
                            </label>

         
                            <label>
                                <input type="radio" name="groupType" value="3">
                                商务组
                            </label>

          
                            <label>
                                <input type="radio" name="groupType" value="4">
                                教师技能组
                            </label>
                    </li>
                    <li>
                        
                    </li>
                    <li>
                        <textarea  rows="5" placeholder="自我介绍（包括兴趣爱好，优缺点，喜欢的技术方向等）" id="Intro" class="am-form-field am-radius"></textarea>
                    </li>

                    <li>
                        <textarea rows="5" placeholder="谈谈你对IT培优的认识以及想加入IT培优的原因" id="ITEleteInfo" class="am-form-field am-radius"></textarea>
                      
                    </li>
                    <li class="am-cf">
                        <button class="am-btn btn-large btn-blue am-btn-block am-radius" id="btnSaveUserInfo">开始报名</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mod-footer"></div>
    </div>
    <div class="aw-footer-wrap">
        <div class="aw-footer">
            Copyright © 2016, All Rights Reserved

            <span class="am-hide-sm-only">>UI Powered By Amaze UI</span>
        </div>
    </div>
</body>
</html>
